# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android Build Artifacts
/android/.gradle/
/android/local.properties
/android/app/build/
/android/app/debug
/android/app/profile
/android/app/release

# Android Signing (CRITICAL)
# 앱 서명 키 (절대 Git에 업로드 금지)
*.jks
*.keystore

# 서명 정보 파일 (비밀번호 포함 가능)
key.properties

# Environment / Secrets
.env
.env.*
*.env

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json